/*section.special-section .img-box {*/
/*    width: 300px; !* 각 이미지 상자의 너비를 설정하세요 *!*/
/*    margin-right: 40px; !* 이미지 사이의 간격을 조절합니다 *!*/
/*    padding-right: 40px;*/
/*    float: left; !* 이미지를 오른쪽으로 정렬합니다 *!*/
/*    box-sizing: border-box; !* 내용 영역에 padding과 border를 포함하여 크기를 조정합니다 *!*/
/*}*/

/*section.special-section .img-box:last-child {*/
/*    margin-right: 50px; !* 마지막 이미지의 오른쪽 간격을 0으로 설정하여 더 이상 간격이 나타나지 않게 합니다 *!*/
/*}*/

section.special-section .img-box {
    width: 18%; /* 각 이미지 상자의 너비를 18%로 설정하여 한 줄에 5개씩 배치합니다 */
    margin-right: 2%; /* 이미지 사이의 간격을 조절합니다 */
    float: left; /* 이미지를 왼쪽으로 정렬합니다 */
    box-sizing: border-box; /* 내용 영역에 padding과 border를 포함하여 크기를 조정합니다 */
}

section.special-section .img-box:nth-child(5n) {
    margin-right: 0; /* 5번째 이미지마다 오른쪽 간격을 0으로 설정하여 한 줄에 5개가 배치되도록 합니다 */
}

.pagination-links {
    position: relative;
    margin:auto;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Position in the middle of the page */
    transform: translateX(-50%);
}

.pagination {
    justify-content: center;
}
