@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/*.slider__wrap {*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.slider__img {*/
/*    !* 이미지 보이는 영역 *!*/
/*    position: relative;*/
/*    width: 800px;*/
/*    height: 450px;*/
/*}*/

.slider__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden; /* 가로 스크롤을 숨김 */
}

.slider__img {
    /* 이미지 보이는 영역 */
    position: relative;
    width: 800px; /* 원래의 이미지 가로 크기 유지 */
    height: 450px; /* 원래의 이미지 세로 크기 유지 */
}

.slider__inner {
    /* 이미지를 감싸고 있는 부모 : 움직이는 부분 */
    display: flex;
    flex-wrap: wrap;
    /* width: 8800px; --> js로 이미지 추가되도 전체넓이 가변되게끔! */
    /* 4000px --> 4800px  : 총이미지가 6개로 변경*/
    height: 450px;
    position: relative;
    position: relative;
    left: -800px;
}
.slider__inner.transition{
    transition: all 0.2s;
}


.slider {
    /* 개별적인 이미지 */
    position: relative;
    width: 800px;
    height: 450px;
}

.slider span {
    position: absolute;
    /*left: 5px;*/
    /*top: 5px;*/
    left: 50px;
    top: 50px;
    /*background: rgba(0, 0, 0, 0.4);*/
    color: #ff0000;
    /*opacity: 0.7;*/
    text-shadow: 3px 0 #FE8D1C, 0 1px #f87d02, 1px 0 #dd7f20, 0 -1px #faa249;
    padding: 5px 10px;
    font-size: 50px;
}


@media (max-width: 800px) {
    .slider__img {
        width: 400px;
        height: 225px;
    }
}

.slider__btn button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s;
    line-height: 48px;
    display: block;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
    pointer-events: auto;
    border: 0;
    cursor: pointer;
}
.slider__btn button.disable{
    pointer-events: none;
}

.slider__btn button.prev {
    left: 0;
}

.slider__btn button.next {
    right: 0;
}

.slider__btn button:hover {
    /* text-shadow: -1px 0 #8545f3, 0 1px #9359f7, 1px 0 #8545f3, 0 -1px #413be1; */
    border: 1px solid rgba(187, 127, 255, 0.6);
    box-shadow: inset 0px 0px 5px aquamarine;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.slider__dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    margin: 2px;
}

.slider__dot .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(30, 30, 30, 0.4);
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 5px;
}

.slider__dot .dot.active {
    /* background: #000; */
    color: rgb(187, 127, 255);
    border-color: rgba(187, 127, 255, 0.6);
    box-shadow: -1px 1px 2px aquamarine;
    background: rgba(0, 0, 0, 0.4);
    /* position: relative; */
    transition: all 2s ease;
}

.slider__dot .dot.active {
    /* background: #000; */
    color: rgb(187, 127, 255);
    border-color: rgba(187, 127, 255, 0.6);
    box-shadow: -1px 1px 2px aquamarine;
    position: relative;
}

.slider__dot .dot.active::after {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    border: 1px solid rgba(187, 127, 255, 0.6);
    box-shadow: -1px 1px 10px aquamarine;
    animation: rotate 3s linear infinite;
    pointer-events: none;

}

.slider__dot .dot.active::before {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    border: 1px solid rgba(0, 162, 255, 0.534);
    box-shadow: -1px 1px 10px rgba(0, 162, 255, 0.534);
    animation: rotate2 7s linear infinite;
    pointer-events: none;

}

.slider__dot .play {
    display: inline-block;
    display: none;
    width: 18px;
    height: 20px;
    margin-left: 5px;
    vertical-align: -7px;
    border-left: 14px solid #FE8D1C;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-radius: 2px;
    opacity: 0.7;
    transition: all 0.2s;
}
.slider__dot .play:hover {
    opacity: 1;
    filter: brightness(120%);
}

.slider__dot .stop {
    display: inline-block;
    width: 18px;
    height: 20px;
    position: relative;
    margin-left: 5px;
    vertical-align: -7px;
    opacity: 0.7;
    transition: all 0.2s;

}
.slider__dot .stop:hover{
    opacity: 1;
    filter: brightness(120%);
}
.slider__dot .stop::before {
    content: '';
    width: 6px;
    height: 18px;
    background: #FE8D1C;
    border-radius: 2px;
    position: absolute;
    left: 0;top: 0;
}
.slider__dot .stop::after {
    content: '';
    width: 6px;
    height: 18px;
    border-radius: 2px;
    background: #FE8D1C;
    position: absolute;
    right: 3px; top: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(359deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.slider__btn button {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    transition: all 0.4s;
    color: #fe8d1c9d;
    /* text-shadow: -1px 0 #FE8D1C, 0 1px #f87d02, 1px 0 #dd7f20, 0 -1px #faa249; */
    opacity: 0.7;
}
.slider__btn button:hover {
    text-shadow: -1px 0 2px #FE8D1C, 0 1px 2px #f87d02, 1px 0 3px #dd7f20, 0 -1px 4px #faa249;
    border: none;
    box-shadow: inset 0px 0px 10px #FE8D1C;
    opacity: 1;
    color: black;
    transition: all 0.5s ease;
}
.slider__dot .dot.active {
    /* background: #000; */
    border-color: #000;
    box-shadow: -1px 1px 2px #fff;
    background: rgba(0, 0, 0, 0.4);
    /* position: relative; */
    transition: all 2s ease;
}

.slider__dot .dot.active::after {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    border: 1px solid #FE8D1C;
    box-shadow: -1px 1px 10px #FE8D1C;
    animation: rotate 3s linear infinite;
    pointer-events: none;

}

.slider__dot .dot.active::before {
    position: absolute;
    top: 0%;
    left: 00%;
    /* transform: translate(-50%, -50%); */
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    border: 1px solid rgb(243, 219, 6);
    box-shadow: -1px 1px 10px rgb(245, 180, 143);
    animation: rotate2 7s linear infinite;
    pointer-events: none;

}
