body {
    background: linear-gradient(#B924A0, #000000);
    min-height: 100vh !important;
}

.container {
    max-width:936px !important;
}

#picasso-header {
    padding-top: 20px;
}

button.before-login-btn {
    border-radius: 100px;
    background: #18ACDB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #FFF;
    text-align: center;
    font-family: Sigmar One;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* header */
header .main-header > div .before-login-area {
    display: flex;
    align-items: center;
}

/* footer */
footer {
    height: 140px;
    position : relative;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: #120410;
    width: 100%;
}

footer .title {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 10px;
    margin-bottom: 0;
    margin-left: 15px;
}
footer .footer-menu {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
footer .footer-menu li a {
    font-size: 12px;
    align-items: center;
    color: #FFFFFF;
}
footer .copyright {
    color: #FFFFFF;
    font-size: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

